extends layout

block content
	div.wrapper
		.content
			.intro-header
				.container
					.row
						.col-lg-12
							.intro-message
								h1 NYCitizenry
								h3 A website to inform NYCitizens about their representatives
								hr.intro-divider
									

